html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 1em;
}

.btn {
  padding: 0.4em 0.75em 0.3em;
  text-align: center;
  font-size: 1.125rem;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  border: 3px solid #333;
  background-color: #333;
  margin-top: 310em;
  margin-bottom: 10em;
}

.btn-small {
  font-size: 0.875rem;
}

a {
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
  border-width: 3px;
}

.btn-small:hover {
  background-color: #000;
  border-color: #000;
  border-width: 3px;
}

img {
  max-width: 8em;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.card {
  float: left;
  width: 25%;
  font-size: 0.875rem;
  padding: 1em 2em 3em 1em;
  max-height: 100em;
  border-left: 1px solid #333;
  min-height: 5em;
}

.content {
  display: block;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.card1 {
  background-color: #e2e2e2;
}

.card2 {
  background-color: #ccc;
}

.card3 {
  background-color: #aaa;
}

.card4 {
  background-color: #999;
  border-right: 1px solid #333;
}
